
/* --------------------------Top Bar---------------------------- */
.serach_form_box input.search-field {
  background-color: #f6f1ff;
  border: 1px solid #ece4f8;
  padding: 3px 17px;
  border-radius: 30px;
  font-size: 12px;
}
.serach_form_box button.search-submit {
    border: none;
    background-color: transparent;
}
.serach_form_box button.search-submit i {
  font-size: 12px;
  position: absolute;
  right: 0;
}
.serach_form_box form{
  position: relative;
}
.serach_form_box button.search-submit i {
  font-size: 11px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
}
#search {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
  opacity: 0;
  z-index: 999;
}

#search.open {
  -webkit-transform: translate(0px, 0px) scale(1, 1);
  -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
  opacity: 1;
}
#search input[type="search"] {
  font-size: 24px;
  border: 0px;
  margin: 0px auto;
  /* margin-top: -51px; */
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;
  color: black;
  padding: 17px;
  width: 42%;
  outline: none;
}
#search .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 61px;
  margin-left: -45px;
}
#search .close {
  position: fixed;
  top: 20%;
  right: 20%;
  color: #fff;
  background-color: var(--primary-color);
  opacity: 1;
  padding: 4px 14px 7px 14px;
  border: none;  font-size: 25px;
}
#search form.search-form.serach-page {
  position: absolute;
  top: 50%;
  left: 45%;
  right: 50%;
  width: 100%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
  text-align: center;
}
#search button.search-submit {
  background-color: var(--color-fb5b21);
  padding: 18px;
  border: none;
  height: 100%;
  position: absolute;
}
#search button.search-submit i {
  color: white;
}

/*-------------- Product Search -----------------*/
.product-search-form input {
    width: 100%;
    border-radius: 33px;
    border: none;
    color: white;
    padding: 15px 17px;
}
.product-search-form input::placeholder {
    color: white;
}
.product-search-form form {
  border-radius: 5px;
  border: 1px solid #E0E0E0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-search-form {
  margin-right: 0;
  width: 560px;
}
.product-search-form button.header-search-button {
    background-color: var(--primary-color);
    color: white;
    padding: 0;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    margin-right: 6px;
    width: 63px;
    height: 53px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.product-search-form {
  margin-right: 30px;
}
select.header-search-select {
  color: #6B6B6B;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-color: #8B96A5;
  margin-right: 18px;
  padding-left: 14px;
}

/*------------- Search CSS*/

.search-wrapper, .search-data{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search-wrapper {
  position: fixed;
  height: 0px;
  width: 0px;
  border-radius: 100%;
  background: white;
  transition: all 0.4s linear;
}
.search-wrapper.active {
  height: 100%;
  width: 100%;
  border-radius: 0;
  z-index: 9;
}
.search-btn {
    color: black;
    background-color: var(--secondary-color);
    color: white;
    width: 38px;
    height: 38px;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.search-btn:hover {
  color: white;
  background-color: var(--primary-color);
}
.search-data {
  position: absolute;
  /* height: 50px; */
  /* width: 400px; */
  display: flex;
  text-align: center;
  /* display: none; */
}
.search-data input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    outline: none;
    font-size: 22px;
    font-weight: 500;
    color: black;
}
.product-search-form button.header-search-button:hover {
    background-color: black;
}
.search-data .line{
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.4s 0.3s linear;
}
.search-data .line.active{
  transform: scaleX(1);
}
.search-data label{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 20px;
  transform: translateY(-50%);
  pointer-events: none;
  color: rgba(255,255,255,0.7);
}
.search-data input:valid ~ label{
  opacity: 0;
}
.search-data span{
  color: #fff;
  position: absolute;
  width: 50px;
  font-size: 25px;
  right: 0;
  top: 0;
  line-height: 45px;
  cursor: pointer;
}
.close-btn {
    position: absolute;
    z-index: 99;
    right: 25px;
    top: 49px;
    font-size: 25px;
    color: black;
    cursor: pointer;
}
.search-data, .search-data span,
.search-data label, .close-btn{
  display: none;
}
#header {
    padding: 10px 0 10px 0;
}
/* --------------------------Header---------------------------- */
.header-btn {
    margin-left: 23px;
}
.search-btn {
    margin-left: 14px;
}
.header-menu-wrap {
  padding: 0;
  border-radius: 20px;
  padding-left: 12px;
}
#masthead {
  width: 100%;
  z-index: 99;
}
.head-togle{
  text-align: end;
  align-items: center;
  display: flex;
  /* justify-content: end; */
  padding: 0;
}
#sidebar1, .mobile-menu, .sub-menu {
    display: none;
}
#header_widgets .header_title{
  margin: 0;
    padding: 0;
    color: #fff;
    position: relative;
}
.header_title::after
{
  content: "";
  position: absolute;
  border-bottom: 1px solid #fff;
   top: 0;
   /* left: 0; */
   right: 0;
   bottom:0;
   width:83px;
}


.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999999;
  background-color: #F82938;
  padding: 0px 10px;
  height: 75px;
}

/* --------------------------Header---------------------------- */
.menubar-box{
  background: var(--color-F5F5F5);
  padding: 0px 3.7em;
}
#header .logo img{
  max-height: 123px;
  width: auto;
}
.menubar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: position 10s;
  -ms-transition: position 10s;
  -o-transition: position 10s;
  transition: all 0.5s ease;
}
.continnerbox {
  background-size: 100% 100%;
  color: #fff;
  border-top: 40px solid #435061;
  border-left: 60px solid transparent;
}
#header .logo h1, #footer .logo h1, #header .logo p.site-title {
  font-weight:700;
  padding:0;
  font-size:18px;
  font-weight:bold;
  margin-top: 0;
}
.logo {
  padding: 30px ;
}
.logo a.custom-logo-link{
  color:#000000;
}
.logo h1 a, .logo h1 a, .logo p.site-title a{
  color: #262626;
  text-transform: uppercase;
}
.logo p{
  color: #262626;
  margin-bottom: 0;
  font-size: 14px;
}
.search_mobile{
  display: none !important;
}
/*----------------Menu bar-----------*/
@keyframes smoothScroll {
  0% {transform: translateY(-40px);}
  100% {transform: translateY(0px);}}

.close-sidebar {
  font-size: 25px;
  text-align: right;
  color: #fff;
  padding: 16px 20px;
}
.headerbar {
  font-size: 30px;
  font-weight:900;
}
.side-navigation li {
  position: relative;
  /*padding: 28px 22px;*/
  display: inline-block;
}
.side-navigation a {
  font-size: 16px;
  color: #1C1C1F;
  font-weight: 400;
  padding: 10px 18px;
  display: inline-block;
}
.side-navigation ul li.current_page_item > a, .side-navigation ul li.current-menu-item > a {
    background-color: var(--color-secondry);
    border-radius: 25px;
    color: black;
    border: 2px solid var(--primary-color);
}
.side-navigation ul ul li.current_page_item > a, .side-navigation ul ul li.current-menu-item > a {
    background-color: transparent;
    border-radius: 0;
    color: var(--primary-color);
}
.side-navigation ul ul li.current_page_item>a, .side-navigation ul ul li.current-menu-item>a {
    border: none !important;
}
/* .side-navigation ul li.current_page_item:before, .side-navigation ul li.current-menu-item:before {
  content: '';
  background-color: var(--primary-color);
  width: 60%;
  position: absolute;
  top: 0;
  height: 2px;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0 auto;
} */
/* .side-navigation ul li:hover a:before {
  -webkit-transform-origin: left center;
  transform-origin: left center;
  -webkit-transform: scale(1,1);
  transform: scale(1,1);
}
.side-navigation .sub-menu li a:before {
    width: 0 !important;
} */
.side-navigation a:hover{
  color: var(--primary-color);
}
.sub-menu li:hover {
    background-color: var(--color-ternary);
}
.sub-menu li{
  margin-top: 0;
}
.side-navigation ul ul {
  position: absolute;
  left: 0;
  top: 100%;
  background: white;
  border-radius: 0;
  min-width: 230px;
  z-index: 9999;
  display: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 16px;
  border-top: 2px solid var(--primary-color);
  box-shadow: 0px 4px 8px -2px #0000001A;
}
.side-navigation ul ul ul{
  left: 100%;
  top: 0;
}
.side-navigation ul ul li,
.menubar.scrolled .side-navigation ul ul li{
  float: none;
  display: block;
  text-align: left;
  /*border-bottom: 1px solid #cccccc;*/
  padding: 12px 20px;
}
.side-navigation ul ul li a {
  padding: 0;
  display: block;
  padding-bottom: 14px;
  position: relative;
   transition: all 520ms ease;
}
.side-navigation ul ul li {
    padding: 12px 20px 0px 20px;
}
.side-navigation ul ul li>a:before {
    position: absolute;
    content: "";
    left: -5px;
    /* top: 37%; */
    width: 100%;
    height: 2px;
    opacity: 0;
    visibility: hidden;
    background-color: var(--primary-color);
    transform: translateY(-50%);
    transition: all 520ms ease;
    border-radius: 50%;
    bottom: 0;
}
.side-navigation ul ul li:hover>a:before, .side-navigation ul ul li.current_page_item > a:before, .side-navigation ul ul li.current-menu-item > a:before{
    opacity: 1;
    visibility: visible;
    left: 0;
}
/* .side-navigation ul ul li:hover>a, .side-navigation ul ul li.current_page_item>a,.side-navigation ul ul li.current-menu-item>a{
  padding-left: 15px;
} */
.side-navigation ul ul li:last-child a {
    border: none;
}
.side-navigation ul li:hover > ul{
  display: block;
  animation: fadeInLeft 0.5s ease;
  -webkit-animation: fadeInLeft 0.5s ease;
}
.side-navigation ul li.menu-item-has-children>a:after {
    content: "\2b";
    position: static;
    margin-left: 5px;
    font-family: "font awesome 5 free";
    font-weight: 900;
    /* float: right; */
    font-size: 12px;
}
@keyframes fadeInRight{
 0%{opacity:0; transform:translate3d(10 0%,0,0)}
 100%{opacity:1; transform:none;}} 
.side-navigation .menu > ul > li.highlight{
  background-color: #ff8800;
}
.side-navigation .menu > ul > li.highlight:hover{
  background: transparent;
}
/*---------------- Social Icon ----------------------*/
.socialbox a {
    color: white;
    margin-right: 15px;
}
.socialbox a:hover{
  color: var(--primary-color);
}
.socialbox a:last-child {
  margin-right: 0;
}
/*---------------- Footer Section ----------------------*/
.widget-title, .payment-wrap h4 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-bottom: 20px;
}

 .payment-wrap h4{
  color: white;
    width: 24%;
}

.footer-top {
  padding-bottom: 50px;
}
.footer-top-col h3 {
  font-size: 20px;
  font-weight: bold;
}
.outer-footer {
  background-size: 100% 100%;
}
/* .footer-cols{
  padding: 2% 0;
} */
.top-social-icon .topbar-number-text, .top-social-icon .topbar-email-text {
      z-index: 1;
}
.footer-col-four p{
      text-align: center;
    font-weight: 600;
    font-size: 13px;
}
.footer-col-four p:nth-child(2){
      padding-top: 35px;
}
/* .outer-footer  svg{
  position: absolute;
  bottom: 0;
  width: 100%;
  bottom: 0;
  z-index: -1;
} */

.copyright-outer .term-info{
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

#footer {
  color: #fff;
  text-align: left;
  padding: 115px 0 0 0;
  background: var(--secondary-color);
}
.footer_hide {
  display: none;
}
.footer-top-col {
  border-left: solid 5px var(--orange);
  padding-left: 15px;
}
#footer ul {
    margin-left: 0px;
}
#footer ul li {
    margin: 0 0 5px 0;
    padding: 5px 0;
    display: inline-block;
}
.contact_widget {
    margin-top: 6em !important;
}
span.contact_widget_icon {
    display: none;
}
span.contact_widget_head {
    display: block;
}
span.contact_widget_head {
    display: block;
    /* margin-bottom: 7px; */
    font-weight: 500;
    font-size: 20px;
}
.location .contact-text {
    margin-top: 11px !important;
    display: block !important;
    max-width: 84%;
}
span.contact_widget_head {
    display: block;
}
#footer ul li a {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    padding-right: 22px;
    font-size: 16px;
}
#footer ul li a:hover, .widget_wpb_widget a:hover {
  color: var(--primary-color);
}
#footer .footer-col-one p {
  margin: 20px 0;
  font: 400 14px / 30px var(--primary-font);
}
.copyright p {
  font: 400 17px / 30px var(--primary-font);
  margin-bottom: 0;
  color: #fff;
}
.copyright a {
    color: var(--primary-color);
}
.copyright a:hover{
  color: var(--green);
}
.copyright {
    padding-bottom: 3em;
}
.widget_recent_entries img {
  width: 100px;
}
#footer .footer-col-one{
    padding-right: 5%;
    position: relative;
}
#footer h3{
  font: 600 20px / 20px var(--primary-font);
  letter-spacing: 0px;
  color: #FFFFFF;
    margin-bottom: 38px;
}
#footer .wp-block-heading {
    color: white;
}

#footer_box .row {
    align-items: end;
}
.phone.media.mb-3 {
    margin-bottom: 6px !important;
}
.widget_wpb_widget a {
    font: 400 16px / 25px var(--primary-font);
    letter-spacing: 0px;
    color: #fff;
}
.about_me h6,#footer .social_widget .widget-title{
  font: 600 17px / 29px var(--primary-font);
  color: #FFFFFF;
}
.widget_wpb_widget a{
  font: 400 17px / 25px var(--primary-font);
  letter-spacing: 0px;
  color: #fff;
}

#footer .social_widget .widget_wpb_social_widget {
  display: flex;
}
#footer .social_widget .widget-title{
  width: 33.33333333%;
  position: relative;
}

#footer .custom-social-icons{
  width: 66.66666667%;
}
/*-----------------Header Cart----------------*/
#cart {
  box-shadow: 0 3px 6px #00000029;
  background: #fff;
  width: 330px;
  right: 0px;
    top: 29px;
  margin: 0px auto;
  text-align: left;
  padding: 20px;
  position: absolute;
  z-index: 999999;
  display:none;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  box-shadow: 0 0 4px #19213f7d;
      border: 1px solid var(--primary-color);
}
@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}
.cart_box:hover #cart {
  display: block;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
#cart .woocommerce a.button{
  background: var(--primary-color);;
  padding: 10px 20px !important;
  font-size: 12px;
  color:white;
  font: normal normal 600 14px / 14px var(--primary-font);
}
.order-track-hover  button.button.wp-element-button{
  padding: 10px 20px;
}
#cart .woocommerce a.button:hover, .order-track-hover  button.button.wp-element-button:hover{
  background: transparent;
  border: 1px solid var(--primary-color);
  color: var(--primary-color)!important;
}
.mini_cart_item img{
  background: #FEF4D8;
padding: 5px;
border-radius: 10px;
}
#cart  .widget_shopping_cart_content p{
  margin: 0;
}
/* #cart .woocommerce-mini-cart__total strong,#cart .woocommerce-mini-cart__total span {
  color: #ffffff;
  font-weight: 600;
} */

#header .woocommerce form .form-row , #header .woocommerce form .form-row{
width: 100%;
}
#cart .woocommerce-mini-cart__total{
  padding-left: 27px;
}
#cart .woocommerce .widget_shopping_cart .total,#cart .woocommerce.widget_shopping_cart .total{
  border-top: 1px solid #eee;
  padding: 10px 0;
}
.woocommerce .widget_shopping_cart .cart_list li, .woocommerce.widget_shopping_cart .cart_list li {
    padding-left: 0;
}
.woocommerce .widget_shopping_cart .cart_list li a.remove, .woocommerce.widget_shopping_cart .cart_list li a.remove {
  right: 0;
  left: unset;
  top: -2px;
  font-size: 16px !important;
  padding: 0px;
}
#header .mini_cart_item a{
    font: 800 16px / 16px var(--primary-font);
  letter-spacing: 0px;
  color: #000000;
}
.woocommerce ul.cart_list li img, .woocommerce ul.product_list_widget li img {
    float: left !important;
    margin-right: 24px;
    width: 20%;
    object-fit: cover;
    margin-bottom: 10px;
}
.woocommerce a.remove{
  background: var(--primary-color);

  color: white!important;
}
.alert.alert-minimalist {
    background-color: rgb(255, 255, 238);
    border-color: var(--primary-color);
    border-radius: 3px;
    color: rgb(149, 149, 149);
    box-shadow: 0px 0px 5px rgb(51 51 51 / 30%);
    padding: 10px;
    z-index: 9999999 !important;
    height: auto;    width: 18% !important;
    background: #fff;
    padding: 10px 23px;
    box-shadow: rgb(0 0 0 / 16%) 0 1px 4px;

}
.alert {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
.alert.alert-minimalist img {
    width: 50px;
}
.prod-title {
  font: 600 16px / 25px var(--primary-font);
  color: #000000;
}
.prod-messg {
  font: 500 14px / 24px var(--primary-font);
  color: #000000;
}
.pull-left {
    float: none;
}

.footer-contact .media-body a {
color: var(--lightgrey11);
}
.custom-social-icons{
  display: flex;
gap: 10px;
}
.custom-social-icons a{
  background: #fff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 3px;
}
.custom-social-icons a i{
  color: #000;
  font-size: 18px;
  line-height: 25px
}
#footer .custom_instagram i{
  color: transparent;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background-clip: text;
    -webkit-background-clip: text;
}
#footer  .custom_facebook i{
    color: #3D6AD6
}
#footer  .custom_pinterest i{
    color: #D32F2F
}

.custom-social-icons a span{
  display: none;
}
.search-icon i {
    cursor: pointer;
}
.outer-footer{
  position: relative;
}
.footer-spider-img{
  position: absolute;
  right: 0;
  top: 0;
  height: 220px;
}
.news-form-main{
  position: relative;
  top: 10px;
    width: 90%;
    margin: 0 auto;
}
.footer-cols{
padding-bottom: 70px;
}
/* newsletter */
.footer-col-four input[type="submit"] {
  font-family: 'FontAwesome';
  right: 10px;
  top: 15px;
  font-size: 20px;
  color: var(--primary-color);
  position: absolute;
  background: transparent;
  border: none;
}
.footer-col-four input[type="email"]{
  border: none;
  padding: 16px;
}
/* .wpcf7-not-valid-tip{
  color: #fff;
} */
.wpcf7 form .wpcf7-response-output {
  margin: 1em 0.5em 1em;
}
#newsletter .wpcf7 form .wpcf7-response-output{
  color: #fff;
}
.footer-col-four .textwidget{
  position: relative;
}
.payment-wrap{
    display: flex;
    gap: 10px;
    margin-left: auto;
    align-items: center;
    position: absolute;
    bottom: 80px;
}
.footer-payment-img{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.payment-wrap h5{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 19.8px;
  color: #fff;
}
.footer-payment-images {
  width: 39px;
  height: 27px;
}
/* ----------------------Newsletter ----------------*/
#newsletter-section {
  padding: 0;
}
.newsletter-container a.insta {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
.newsletter-container .socialbox {
  font-size: 18px;
}
.newsletter-container .socialbox a.facebook {
  color: #3D6AD6;
}
.newsletter-container .socialbox a.youtube {
  color: #FF0000;
}
.newsletter-container a.twitter {
  color: black;
}
#newsletter_section .section_main_head h4 {
  color: white;
  font-size: 20px;
}
span.social-icons-title {
  color: white;
  font-weight: 600;
  margin-bottom: 9px;
  display: block;
}
.newsletter_shortcode  p {
    margin-bottom: 0 !important;
}
#newsletter-section h3 {
    color: white;
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
    margin-bottom: 0;
}
#newsletter-section span.section-tagline {
    color: white;
    font-size: 19px;
    margin-bottom: 4px;
}
.newsletter_head {
  width: 100%;
}
#newsletter_section .section_main_head .section-text, #newsletter_section .section_main_head .section-text p{
  max-width: 100%;
  margin: 0 !important;
}
.newsletter-container  .section_main_head.white_head h3 {
  background-color: transparent;
  color: black;
  font-weight: 600;
  letter-spacing: 0.2px;
  padding: 0;
  /* margin-right: 40px; */
}
.newsletter-container  .section_main_head {
  margin-right: 40px;
}
.newsletter_shortcode {
  width: 100%;
  margin: 0 auto;
  margin: 0 auto;
}
.newsletter_shortcode textarea {
  height: 152px;
}
.newsletter_shortcode input[type="text"], .newsletter_shortcode input[type="tel"], .newsletter_shortcode input[type="email"], .newsletter_shortcode input[type="phno"], .newsletter_shortcode input[type="password"], .newsletter_shortcode textarea {
    background-color: #06B6D41F;
    border: none;
    color: white;
    padding: 11px 25px 11px 25px;
    font-family: var(--primary-font);
    border: none;
    font-size: 14px;
    border-radius: 39px;
    width: 73%;
    border: none;
    border: 2px solid var(--primary-color);
}
.newsletter_shortcode input[type="text"]::placeholder, .newsletter_shortcode input[type="tel"]::placeholder, .newsletter_shortcode input[type="email"]::placeholder, .newsletter_shortcode input[type="phno"]::placeholder, .newsletter_shortcode input[type="password"]::placeholder, .newsletter_shortcode textarea::placeholder{
  color: #000000;
}
.newsletter_shortcode input[type="submit"] {
  padding: 12px 31px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 32px;
  box-shadow: none;
  font-size: 17px;
  position: relative;
  margin-left: 10px;
}
.newsletter_shortcode input[type="submit"]:hover {
    background-color: white;
    color: var(--primary-color);
}
#newsletter_section .section_main_head h3 {
  padding-bottom: 2px;
}
.newsletter_shortcode form {
  position: relative;
}
.newsletter_shortcode  label {
  color: #30494f;
  font-weight: 600;
}
#newsletter_section {
  position: relative;
  padding: 0;
  padding-top: 4em;
}
.newsletter_shortcode .wpcf7-not-valid-tip {
    position: absolute;
}
/*----------------- Footer Contact --------------------*/
a.footer-contact-text {
  color: var(--secondary-color);
  font-weight: 400;
}
a.footer-contact-text:hover {
  color: var(--primary-color);
}
span.footer-contact-icon {
    background-color: var(--secondary-color);
    width: 25px;
    height: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 5px;
}
.footer-git-block {
    margin: 0 10px;
}
.footer-contact-details {
    background-color: white;
    padding: 18px;
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 3em;
}